<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Poker Info</title>
    <link rel="stylesheet" href="../static/grid.css">
</head>

<body>
    <header>
        <div id="logo">
            <a href="index.html">Super Poker</a><img src="https://cdn-icons-png.flaticon.com/512/107/107589.png" alt="">
        </div>
        <nav>
            <ul>
                <li>
                    <a href="index.html">Início</a>
                </li>
                <li>
                    <a href="register.html">Registro</a>
                </li>
                <li>
                    <a href="grid.html" class="active">Grade de Torneios</a>
                </li>
                <li>
                    <a href="contact.html">Contato</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="banner">
            <div class="content">
                <h2>Super Poker</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores asperiores officiis iure quasi pariatur repellendus ab aspernatur. Incidunt itaque odit voluptatem veritatis, inventore, libero fugiat harum minus voluptatum, ipsum eum.</p>

            </div>
            <div>
                <img src="https://statics.superpoker.com.br/img/super_poker_logo.png" alt="">
            </div>
        </section>
    </main>

</body>

</html>