<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Poker Info</title>
    {% block css %}{% endblock %}
</head>

<body>
    <header>
        <div id="logo">
            <a href={% url "index" %}>Super Poker</a><img src="https://cdn-icons-png.flaticon.com/512/107/107589.png" alt="">
        </div>
        <nav>
            <ul>
               {% block classactv %}{% endblock %}
            </ul>
        </nav>
    </header>
    {% block content %}{% endblock %}
</body>

</html>