{% extends 'wbpbase/base.html' %}
{% load static %}
{% block css %}<link rel="stylesheet" href="{% static '/register.css' %}">{% endblock %}
{% block classactv %}
<li>
    <a href="{% url 'index' %}">Início</a>
</li>
<li>
    <a href="{% url 'register' %}" class="active">Registro</a>
</li>
<li>
    <a href="{% url 'grid' %}">Grade de Torneios</a>
</li>
<li>
    <a href="{% url 'contact' %}">Contato</a>
</li>
{% endblock %}
{% block content %}
<main>
    <section id="banner">
        <div>
            <img src="https://statics.superpoker.com.br/img/super_poker_logo.png" alt="">
        </div>
        <form>
            <h3>Faça seu cadastro abaixo:</h3>
            <label for="nome">Nome:</label>
            <input type="text" id="nome" placeholder="Seu nome" required>
            <label for="email">Email:</label>
            <input type="email" id="email" placeholder="email@email.com" required>
            <label for="senha">Senha:</label>
            <input type="password" id="password" placeholder="Sua senha">
            <button type="submit">Cadastrar</button>
            </form>
    </section>
</main>
{% endblock %}